@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jokes Applicatiopn</h1>
    <p>the foremost authority for good humor that you will find anywhere on your local host.</p>
</div>
